body {
  background-image: url("world.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  font-family: sans-serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 50px;
  display: block;
  background-color: rgba(213, 213, 220, 0.6);
  padding: 30px;
  box-shadow: rgba(113, 113, 123, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}

select {
  display: block;
  padding: 10px;
  border-radius: 5px;
  width: 600px;
  font-size: 18px;
  background-color: rgba(213, 213, 220, 0.3);
}

h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 35px;
}

h2 {
  margin-bottom: 6px;
}

.city {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed rgba(100, 100, 111, 0.2);
  margin-top: 15px;
}

.city:last-child {
  border-bottom: none;
}

.date {
  color: rgba(54, 54, 59, 0.6);
}

.time {
  margin: 30px;
  font-size: 37px;
  font-weight: bold;
}

.time small {
  font-size: 23px;
  position: relative;
  top: -3px;
}

a {
  color: rgb(63, 55, 111);
}

footer {
  margin-top: 50px;
  text-align: center;
  color: rgb(219, 214, 214);
  font-size: 15px;
}

footer a {
  color: rgb(217, 197, 202);
}
